html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/img/vecteezy_abstract-blue-subtle-background_20539332.jpg');
    background-repeat: no-repeat; /* verhindert Wiederholung */
    background-size: cover; /* Bild skaliert auf ganze Fläche */
    background-position: center center; /* zentriert das Bild */
}
.table-card {
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.table-card thead {
    background-color: #f8f9fa;
}

.table-card th,
.table-card td {
    vertical-align: middle;
    padding: 1rem;
}

.table-card td:last-child {
    white-space: nowrap;
}
.chat-item:hover {
    background-color: #f1f3f5;
    transition: background-color 0.2s ease-in-out;
}

.chat-item h6 {
    font-size: 1rem;
}

.chat-item p {
    font-size: 0.875rem;
}
